@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-container">
    <div class="project-details wrapper clearfix">
        <div class="banner">
            <img src="@Url.Content("~/img/background/about-banner.jpg")" alt="" class="dekstop-banner" />
            <img src="@Url.Content("~/img/background/about-banner-mobile.jpg")" alt="" class="mobile-banner" />
            <div class="logo">
                <a href="@Url.Action("Index","Frontend")">
                    <img src="@Url.Content("~/img/generic/logo-white.png")" alt="" />
                </a>
            </div>
        </div>
        <div class="page-nav">
            <ul>
                <li>
                    <a href="#eaglehills">
                        <span>
                            eagle hills
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#theteam">
                        <span>
                            the team
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#vision">
                        <span style="border: 0;">
                            vision &amp; mission
                        </span>
                    </a>
                </li>
            </ul>
        </div>
        <section id="eaglehills">
            <div class="tab">
                <h4>
                    eagle hills
                </h4>
            </div>
            <div class="eaglehills">
                <div class="leftpane">
                    <h3>
                        Experts in urbanization and renewal
                    </h3>
                    <p>
                        Born in the United Arab Emirates in April 2014, Eagle Hills specializes in the development, creation and reinvigoration of urban centres. We work in line with governments and policy makers to develop advanced city hubs and flagship destinations that look to energize and diversify local economies, create jobs, attract local and international investments and positively impact business and tourism.
                    </p>
                    <p>
                        Al Maabar became a subsidiary of Eagle Hills in October 2014. Al Maabar, has major projects in progress in Morocco and Jordan with master-planned, mixed-use developments that are designed to regenerate communities and act as a powerful catalyst for economic growth.
                    </p>
                    <!--
                    <p>
                        The vibrant residential projects capture the very best the city has to offer, providing the ultimate luxury lifestyle.
                    </p>
                    <p>
                        Born in the United Arab Emirates, Eagle Hills is looking to share its expertise with aspiring nations.
                    </p>
                    -->
                    <a href="@Url.Action("register","Frontend")" class="register-btn">register your interest</a>
                </div>
                <div class="rightpane">
                    <img src="img/inner/eaglehills.jpg" alt="" />
                </div>
            </div>
        </section>
        <section id="theteam">
            <div class="tab">
                <h4>
                    the team
                </h4>
            </div>
            <div class="theteam">
                <div class="singlepane">
                    <h3>
                        Our Renowned Team
                    </h3>
                    <div class="accordians">
                        <div class="accordion">
                            <div class="accordion-item tt-1">
                                <!--<img src="img/theteam/img1.jpg" alt="" />-->
                                <h5>
                                    Mohamed Alabbar
                                </h5>
                                <span>
                                    board member
                                </span>
                                <img src="img/generic/tt-arrow-2.png" class="tt-arrow-2" alt="" />
                                <div class="data">
                                    <p>
                                        An entrepreneur with active interests in real estate development, retail and luxury hospitality, Mohamed Alabbar is a board member of Eagle Hills, an Abu Dhabi-based private investment and real estate development company.
                                    </p>
                                    <p>
                                        He is the founder and chairman of Emaar Properties PJSC, one of the world's most admired real estate development companies, with iconic assets in 18 international markets including the 500 acre Downtown Dubai, which is home to the Burj Khalifa, The Dubai Mall and The Dubai Fountain.
                                    </p>
                                    <p>
                                        Mr. Alabbar is the Chairman of Tradewinds Corporation, a premier leisure and hospitality owner-operator in Malaysia. He is also the founder and major shareholder of RSH, the leading Singapore-based pan-Asian marketer.
                                    </p>
                                    <p>
                                        Mr. Alabbar sits on the board of Noor Investment Group, an affiliate of Dubai Group, the leading diversified financial company of Dubai Holding. He is also a member of the Dubai World Expo 2020 Preparatory Committee. He was the founding Director General of the Dubai Department of Economic Development (DED), and served as a member of the Dubai Executive Council and Dubai Economic Council.
                                    </p>
                                    <p>
                                        A graduate in Finance and Business Administration from the Seattle University in the US, Mr. Alabbar also holds an Honorary Doctorate from the University, and serves on its Board of Trustees. A keen sportsman, Mr. Alabbar is an active member of the UAE's endurance horse racing community.
                                    </p>
                                </div>
                            </div>
                            <div class="accordion-item tt-2">
                                <!--<img src="img/theteam/img2.jpg" alt="" />-->
                                <h5>
                                    Low Ping
                                </h5>
                                <span>
                                    CEO
                                </span>
                                <img src="img/generic/tt-arrow-2.png" class="tt-arrow-2" alt="" />
                                <div class="data">
                                    <p>
                                        Ms. Low Ping, Chief Executive Officer, has been with Eagle Hills since its inception.
                                    </p>
                                    <p>
                                        A veteran professional in real estate businesses, she is responsible for the overall management of Eagle Hills and oversees planning, monitoring and management of execution, systems and processes, legal, finance and tax planning for the company.
                                    </p>
                                    <p>
                                        Ms. Low Ping was previously the CEO of Emaar Properties PJSC, where she was responsible for the overall management of the EMAAR Group of Companies. All senior management of the EMAAR Group's subsidiaries in Dubai and the international arena directly reported to her. Prior to joining Emaar in 2002, Ms Low Ping was an auditor with KPMG Singapore.
                                    </p>
                                    <p>
                                        Ms. Low Ping has over a decade of experience in finance. A certified Chartered Accountant, Low Ping is a member of the Certified Public Accountants in Singapore. She graduated with a Bachelor of Accountancy from National University of Singapore with 2nd class honors.
                                    </p>
                                </div>
                            </div>
                            <div class="accordion-item tt-3">
                                <!--<img src="img/theteam/img3.jpg" alt="" />-->
                                <h5>
                                    Salman Sajid
                                </h5>
                                <span>
                                    Chief Financial Officer
                                </span>
                                <img src="img/generic/tt-arrow-2.png" class="tt-arrow-2" alt="" />
                                <div class="data">
                                    <p>
                                        Mr. Salman Sajid, Chief Financial Officer, joined Eagle Hills in September 2014.
                                    </p>
                                    <p>
                                        Mr. Sajid has over 19 years' experience of financial management, compliance, auditing and consulting. He is a Fellow Chartered Accountant of the Institute of Singapore Chartered Accountants, a Fellow Chartered Certified Accountant (FCCA) from the United Kingdom and Fellow Chartered Accountant (FCA) from Pakistan.
                                    </p>
                                    <p>
                                        He started his career with one of the largest professional audit, tax, and advisory services firms in the world. Prior to joining Eagle Hills Mr. Sajid worked at Emaar Properties in various roles including CFO of various business segments, Head of Internal Audit and Executive Director – Group Operations and Business Development.
                                    </p>
                                    <p>
                                        He is responsible for the financial and IT functions of Eagle Hills including overall financial management of international entities of Eagle Hills.
                                    </p>
                                </div>
                            </div>
                            <div class="accordion-item tt-4">
                                <!--<img src="img/theteam/img4.jpg" alt="" />-->
                                <h5>
                                    Haitham Fekry
                                </h5>
                                <span>
                                    Executive Director Development and Projects
                                </span>
                                <img src="img/generic/tt-arrow-2.png" class="tt-arrow-2" alt="" />
                                <div class="data">
                                    <p>
                                        Mr. Haitham Fekry, Executive Director Development and Projects, joined Eagle Hills in August 2014.
                                    </p>
                                    <p>
                                        Haitham has over 19 years of professional experience in the real estate development industry and prior to joining Eagle Hills he was the Senior Director of Development in Emaar Misr, Egypt where he was part of the team since its inception in 2006.
                                    </p>
                                    <p>
                                        Haitham joined Emaar Misr in 2006 as a Development Manager for Uptown Cairo, and was named the Development Director in charge of the project in 2009. Prior to joining Emaar Misr in 2006, Haitham was the Sales and Marketing Manager for the Souhail-Najar Investment Group, a Dubai-based investment company. From 1995 until 2006, he worked in a series of real estate companies - including Al Azizia for Egyptian Buildings, Al Azizia for Marketing and the United Group for Highways Development - in a number of positions, including Site Engineer, Project Manager and Business Development Manager.
                                    </p>
                                    <p>
                                        Haitham graduated with a Bachelor of Engineering in Architecture from the Cairo University Faculty of Fine Arts in 1995, and received his Master in International Business Administration from the Ecole Supérieure Libre des Sciences Commerciales Appliquées in Paris, France. He has also received numerous additional certifications including: becoming a Candidate for the Commercial Real Estate Investment Institute in Chicago, receiving a certificate in Project Management from the American University in Cairo and another from the Chambre de Commerce et de l'Industrie de Paris.
                                    </p>
                                </div>
                            </div>
                            <div class="accordion-item tt-5">
                                <!--<img src="img/theteam/img5.jpg" alt="" />-->
                                <h5>
                                    Jaimal Shergill
                                </h5>
                                <span>
                                    Executive Director Africa
                                </span>
                                <img src="img/generic/tt-arrow-2.png" class="tt-arrow-2" alt="" />
                                <div class="data">
                                    <p>
                                        Mr. Jaimal Shergill, Executive Director Africa, joined Eagle Hills in October 2014.
                                    </p>
                                    <p>
                                        Mr. Shergill is responsible for the Eagle Hills ventures in Africa. He works closely with the Group Chief Executive advising on the Africa strategy, monitoring activities in the country, as well as managing the ventures in Africa.
                                    </p>
                                    <p>
                                        He has over two decades of experience working in Africa.  He was previously with Citibank and other Pan-African Financial Institutions including Eco Bank and UBA. He has worked in the banking, asset management and venture capital industry. He has also recently performed advisory roles providing companies with advice on their multi-billion investments into Africa.
                                    </p>
                                    <p>
                                        Mr. Shergill holds an Investment Advice Certificate from the Financial Conduct Authority in the UK.
                                    </p>
                                </div>
                            </div>
                            <!---->
                            <div class="accordion-item tt-6">
                                <!--<img src="img/theteam/ahmad-hashmi.jpg" alt="" />-->
                                <h5>
                                    Ahmed Alhashmi
                                </h5>
                                <span>
                                    Executive Director, Sales &amp; Marketing
                                </span>
                                <img src="img/generic/tt-arrow-2.png" class="tt-arrow-2" alt="" />
                                <div class="data">
                                    <p>
                                        Mr. Ahmed Alhashmi, Executive Director, Sales &amp; Marketing, joined Eagle Hills in February 2015.
                                    </p>
                                    <p>
                                        Ahmed has 22 year's of international marketing experience working in the telecommunications industry. His expertise includes: product launches, brand management, market segmentation and customer management; with a proven track record in building brand awareness and increasing company revenues.
                                    </p>
                                    <p>
                                        Prior to joining Eagle Hills Ahmed  was the Senior Vice President, Brand & Communications at Etisalat, a position he moved to from Senior Vice President, Commercial African Region at Etisalat Group. In his role at Etisialt, he was responsible for developing the overall brand strategy and aligning the company vision. Prior to that he was the Chief Marketing Officer at Mobily in Saudi Arabia.
                                    </p>
                                    <p>
                                        Ahmed holds a bachelor's degree in Science, Electronics Engineering Technology from the Metropolitan State College of Denver, Colorado, USA.
                                    </p>
                                </div>
                            </div>
                            <!---->


                            <div class="accordion-item tt-1">
                                <!--<img src="img/theteam/img8.jpg" alt="" />-->
                                <h5>
                                    Tom Bartridge
                                </h5>
                                <span>
                                    Executive Director HR
                                </span>
                                <img src="img/generic/tt-arrow-2.png" class="tt-arrow-2" alt="" />
                                <div class="data">
                                    <p>
                                        Mr. Tom Bartridge, Executive Director Human Resources, joined Eagle Hills in August 2014.
                                    </p>
                                    <p>
                                        He is responsible for the implementation of Human Resources services, policies, and programs within Eagle Hills. Prior to Eagle Hills he held a number of Executive HR positions within the GCC region including Executive Director HR at Emaar from 2006 through 2009. His experience crosses a variety of industries, including manufacturing, renewable energy sector, oil and gas sectors, property development, retail & hospitality and the petrochemical field.
                                    </p>
                                    <p>
                                        Mr. Bartridge has published numerous articles on HR, Leadership, Organizational Development, and Change Management. He was awarded the HR Professional of the Year at the Human Resource Summit in September 2005 in Dubai.
                                    </p>
                                    <p>
                                        Tom holds a BSC in Education & Training from Southern Illinois University, Carbondale, Illinois, where he graduated Magna cum Laude, and a Master of Science in HR Management & Development from Chapman University, Orange, California.
                                    </p>
                                </div>
                            </div>
                            <div class="accordion-item tt-2">
                                <!--
                                   <img src="img/theteam/tarek-fakhuri.jpg" alt="" />-->
                                <h5>
                                    Mohmmad Al Frehat
                                </h5>
                                <span>
                                    Executive Director Legal
                                </span>
                                <img src="img/generic/tt-arrow-2.png" class="tt-arrow-2" alt="" />
                                <div class="data">
                                    <p>Mr. Mohammad Al Frehat, Executive Director – Legal, joined Eagle Hills in May 2015.</p>
                                    <p>Mohammad has over 25 years' professional experience in the legal sector, working within leading organisations across Jordan and the UAE. Prior to joining Eagle Hills he was the Director of Legal Affairs at the Abu Dhabi tourism & Culture Authority; a position he held since 2013.</p>
                                    <p>Whilst working at the Abu Dhabi tourism & Culture Authority, Mohammad provided legal advice and guidance to the senior leadership, covering a broad range of complex laws and regulations affecting the Authority's functional areas and led the legal efforts to support the Authority's several projects and operations. Prior to that Mohammad was the Chief Legal Advisor at the Abu Dhabi Authority for Culture & Heritage; where he was responsible for providing strategic legal risk management guidance to the relevant business units; and participating in Board meetings, preparing regular reports for the senior leadership.</p>
                                    <p>Mohammad holds a Bachelor's degree in Law and a Master's degree in Common Law from the University of Jordan in Amman, Jordan. </p>
                                </div>
                            </div>
                            <div class="accordion-item tt-3">
    <!--<img src="img/theteam/img10.jpg" alt="" />-->
    <h5>
        Ahmad Shibel
    </h5>
    <span>
        Director of Business Development and Analysis
    </span>
    <img src="img/generic/tt-arrow-2.png" class="tt-arrow-2" alt="" />
    <div class="data">
        <p>
            Mr. Ahmad Shibel, Director of Business Development and Analysis, joined Eagle Hills in November 2014.
        </p>
        <p>
            Mr. Shibel is responsible for analyzing business proposals and new project development opportunities with a key focus on creating feasibilities and pricing for each of the project stages. He handles country research and market analysis, which guide every region in offering the right product mix. This includes reviewing existing projects and providing insight to enhance the value of developments. His team works closely with Development and Finance to provide key insights into the business plan. He is also responsible for monitoring project financials from the initial concept through to sales launch.
        </p>
        <p>
            Mr. Shibel has over 14 years' industry experience in business development and analysis. Prior to joining Eagle Hills, Ahmad was Assistant Vice President at the Bank of America/Merrill Lynch; where he was responsible for financial planning, investment proposals, portfolio construction, financial modeling, training and development.
        </p>
        <p>
            Ahmad holds a Bachelors of Business Administration from The American University of Beirut, Lebanon and a Master of Business Administration from the Pennsylvania State University, USA.
        </p>
    </div>
</div>
                            <div class="accordion-item tt-1">
                                <!--<img src="img/theteam/mohammad-tabet.jpg" alt="" />-->
                                <h5>
                                    Mohamed Thabet
                                </h5>
                                <span>
                                    Head of contracts
                                </span>
                                <img src="img/generic/tt-arrow-2.png" class="tt-arrow-2" alt="" />
                                <div class="data">
                                    <p>
                                        Mr. Mohamed Thabet, Head of contracts, joined Eagle Hills in November 2014.
                                    </p>
                                    <p>
                                        Mohamed has over 15 year's professional experience working on international construction projects. His integrated contractual and legal experience covers various aspects of pre and post contracts stages. Prior to joining Eagle Hills Mohamed was the Corporate Contracts & Commercial Manager at Al Mazaya Real Estate in Dubai.
                                    </p>
                                    <p>
                                        Whilst at Al Mazaya, Mohamed was responsible for tendering, contracts, and cost & risk management.  Prior to that he worked with RW Armstrong in Abu Dhabi as the Contacts and Commercial Manager. Early in his career, Mohamed worked in contract management across a number of organizations across the Middle East and North Africa.
                                    </p>
                                    <p>
                                        Mohamed graduated with a bachelor's degree in Architectural Engineering from Cairo University in Egypt and has a master's degree in Construction Law & Arbitration from Robert Gordon University in Aberdeen, United Kingdom. Mohamed is a member of the Chartered Institute of Arbitrators and the Royal Institution of Chartered Surveyors.
                                    </p>
                                </div>
                            </div>
                            
                            <!--
                            <div class="accordion-item tt-1">
                                <!--<img src="img/theteam/angusprofile.jpg" alt="" />
                                <h5>
                                 Angus Barron
                                </h5>
                                <span>
                                Senior Director Development &amp; Projects
                                </span>
                                <img src="img/generic/tt-arrow-2.png" class="tt-arrow-2" alt="" />
                                <div class="data">
                                 <p>
                                  Mr. Angus Barron, Senior Director Development & Projects, joined Eagle Hills in February 2015.
                                 </p>
                                    <p>
                                     Angus has over 18 years of professional experience in the real estate industry, and prior to joining Eagle Hills was a Director at PNC Architects, a subsidiary of Sobha group, where he was responsible for designing projects for Sobha Group's urban mixed-use development 'Sobha Hartland' in Mohammed Bin Rashid Al Maktoum City that include 250+ ‘high end' villas, apartment towers, clubhouse, retail mall, hotels, schools, and infrastructure.  He also oversaw the designing of a selection of the Mohammed Bin Rashid City District 1 Signature Villas.
                                    </p>
                                    <p>
                                     Prior to this, Angus worked for Woods Bagot Global, holding various positions including, Senior Associate, where his primary role was as Project Director for significant large scale projects. His experience has allowed him to work on various projects within hospitality, retail, education, mixed-use, commercial, large scale residential and aviation; across the UAE, Australia, Azerbaijan, Bahrain, Kuwait, Hong Kong and Beijing.
                                    </p>
                                    <p>
                                     Angus holds a bachelor's degree in architecture from the University of South Australia and a bachelor's degree in architectural studies from the University of Adelaide.
                                    </p>
                                </div>
                            </div>
                            -->
                            <div class="accordion-item tt-2">
                                <!--
                                   <img src="img/theteam/tarek-fakhuri.jpg" alt="" />-->
                                <h5>
                                    Tareq Fakhuri
                                </h5>
                                <span>
                                    Project Director
                                </span>
                                <img src="img/generic/tt-arrow-2.png" class="tt-arrow-2" alt="" />
                                <div class="data">
                                    <p>
                                        Mr. Tareq Fakhuri, Project Director, joined Eagle Hills in January 2015
                                    </p>
                                    <p>
                                        Tareq has over 22 years of progressive, international project management and leadership experience in the commercial construction industry. Prior to joining Eagle Hills, he was a senior member at Aldar Properties PJSC, since 2008.
                                    </p>
                                    <p>
                                        Whilst working at Aldar Properties, Tareq was responsible for a variety of high profile developments in Kazakhstan and the UAE, including; Abu Dhabi Plaza, a major mixed use development consisting of five towers, Al Raha Gardens, and Noor Al Ain retail units. Prior to that, Tareq has over 15 years of experience in senior roles for top-tier general contracting companies in the U.S., including Suffolk Construction and Bovis Lend Lease, both in Miami.
                                    </p>
                                    <p>
                                        Tareq graduated with a Bachelor degree from the University of North Carolina at Asheville, USA. He has a Master of Business Administration and a Master of Industrial Engineering from the University of Miami, Florida, USA; and a Master of Construction Management from Western Carolina University, North Carolina, USA.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p>
                        We have a growing team of experts committed to delivering innovation, sustainability and positive impact over the long term. We strive to create inspiring cities of the future that cater to the requirements of the population. Our highly revered management team have extensive international experience within the industry; and share their knowledge and expertise to drive the company vision.
                    </p>
                </div>
            </div>
        </section>
        <section id="vision">
            <div class="tab">
                <h4>
                    vision &amp; mission
                </h4>
            </div>
            <div class="vision">
                <div class="singlepane">
                    <div class="copy">
                        <h3>
                            Creating new city hubs and mixed-use projects in high-growth markets
                        </h3>
                        <h6>VISION                        </h6>
                        <p>
                            To be the world’s most admired real estate company through smart innovation, high quality products & services and integrated communities.
                        </p>
                        <h6>MISSION                        </h6>
                        <p>
                            To be the global provider of quality lifestyle communities and leading iconic destinations in emerging countries, that provide sustainable economic growth.
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- #main -->
</div>
<!-- #main-container -->
