@model IEnumerable<EmaarEagleHills.Models.news>
@{
    ViewBag.Title = "Media Centre";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-container">
    <div class="project-details wrapper clearfix">
        <section id="overview">

            <div class="tab">
                <h4>
                    overview
                </h4>
            </div>
            <div class="news">
                <h3>
                    News
                </h3>
                <div class="news-wrapper">
                    @foreach (var item in Model)
                    {
                        <div class="news-head">
                            <div class="headline">
                                @*<div class="img">
                                        <img src="@Url.Content("~/img/media/img-3.jpg")" alt="" />
                                    </div>*@
                                <div class="copy">
                                    <span>
                                        @item.PubDate
                                    </span>
                                    <h5>
                                        <a href="@item.Link" target="_blank">
                                            @item.Title
                                        </a>
                                    </h5>
                                    <p>
                                        @item.Description
                                    </p>
                                    @*<div class="read-more">
                                            <a href="@item.Link">
                                                read more
                                            </a>
                                        </div>*@
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>

        </section>
        <!--Press eleases-->
        <section id="theteam">
            <div class="press-releases">
                <h4>
                    Press Release
                </h4>
                <div class="pr-row">
                     <div class="pr-col">
                        <div class="col-wrapper">
                            <figure>
                                <a href="/news-detail-13">
                                    <img src="@Url.Content("~/img/media/press-releases/PR-La-Marina-Morocco-thumb.jpg")" alt="" />
                                </a>
                            </figure>
                            <h5>La Marina Morocco embarks on its summer programme  

                            </h5>
                            <p>
                             Sunday, June 7th 2015
                            </p>
                        </div>
                    </div>
                    <div class="pr-col">
                        <div class="col-wrapper">
                            <figure>
                                <a href="/news-detail-12">
                                    <img src="@Url.Content("~/img/media/press-releases/Nikola-Nedeljkovic.jpg")" alt="" />
                                </a>
                            </figure>
                            <h5>
                                Eagle Hills appoints Nikola Nedeljkovic as General Manager of Belgrade Waterfront
                            </h5>
                            <p>
                                Tuesday, June 2, 2015
                            </p>
                        </div>
                    </div>
                    <div class="pr-col">
                        <div class="col-wrapper">
                            <figure>
                                <a href="/news-detail-11">
                                    <img src="@Url.Content("~/img/media/press-releases/Alaa-Batayne.jpg")" alt="" />
                                </a>
                            </figure>
                            <h5>
                                Eagle Hills announces Alaa Batayneh CEO of Jordan operations
                            </h5>
                            <p>
                                Monday, May 25, 2015
                            </p>
                        </div>
                    </div>
                    <div class="pr-col">
                        <div class="col-wrapper">
                            <figure>
                                <a href="/news-detail-10">
                                    <img src="@Url.Content("~/img/media/press-releases/Marassi-Al-Bahrain-Gulf-Property-Show.jpg")" alt="" />
                                </a>
                            </figure>
                            <h5>
                                Marassi Al Bahrain - Bahrain’s Newest Urban Project - Makes Bahrain Debut at Gulf Property Show 2015
                            </h5>
                            <p>
                                Tuesday, May 12, 2015
                            </p>
                        </div>
                    </div>
                    <div class="pr-col">
                        <div class="col-wrapper">
                            <figure>
                                <a href="/news-detail-9">
                                    <img src="@Url.Content("~/img/media/press-releases/Potpisivanje-ugovora-Beograd-na-vodi.jpg")" alt="" />
                                </a>
                            </figure>
                            <h5>
                                Government of Republic of Serbia and Eagle Hills sign Joint Venture agreement for Belgrade Waterfront
                            </h5>
                            <p>
                                Sunday, April 26, 2015
                            </p>
                        </div>
                    </div>
                    <div class="pr-col">
                        <div class="col-wrapper">
                            <figure>
                                <a href="/news-detail-6">
                                    <img src="@Url.Content("~/img/media/press-releases/pr-thumb-1.jpg")" alt="" />
                                </a>
                            </figure>
                            <h5>
                                Diyar Al Muharraq Enters a Joint Venture with Eagle Hills Abu Dhabi for the Development of 'Marasi Al Bahrain'
                            </h5>
                            <p>
                                Tuesday, December 11, 2014
                            </p>
                        </div>
                    </div>
                    
                   
                </div>
               
                <!--
                @*<div class="pagination">
                    <ul>
                        @for (int i = 1; i <= ViewBag.PageCount; i++)
                        {
                            <li class='@(ViewBag.page == @i ? "active":"")'>
                                <a href='/media-centre/@i'> @i</a>
                            </li>
                        }

                        @*<li class=' @(ViewBag.page == 1 ? "active" : "") '>
                                <a href="/media-centre/1">
                                    1
                                </a>
                            </li>
                            <li class='@(ViewBag.page==2 ? "active":"")'>
                                <a href="/media-centre/2">
                                    2
                                </a>
                            </li>
                    </ul>
                </div>*@
                -->
            </div>
            <div class="pager1">
                <a href="@Url.Action("media-centre", "Frontend")">1</a>
                <a href="@Url.Action("media-centre", "Frontend", new { Id = 2 })">2</a>
            </div>
        </section>
        <!--Press Releases-->
        <!--Gallery-->
        <section id="gallery" class="press-release-gallery">
            <div class="tab">
                <h4>
                    gallery
                </h4>
            </div>
            <div class="gallery">
                <div class="leftpane">
                    <div class="gallery-frame">
                        <div class="dekstop-slider-view">
                            <div class="largerImage">
                                <img src="@Url.Content("/img/gallery/large/01.jpg")" id="addimage" alt="" />
                            </div>
                            <img src="@Url.Content("/img/generic/gallery-frame.png")" class="frame" alt="" />
                        </div>
                        <div class="mobile-slider-view">
                            <div id="slider" class="flexslider">
                                <ul class="slides">
                                    <li>
                                        <img src="@Url.Content("/img/gallery/large/01.jpg")" />
                                    </li>
                                    <li>
                                        <img src="@Url.Content("/img/gallery/large/02.jpg")" />
                                    </li>
                                    <li>
                                        <img src="@Url.Content("/img/gallery/large/03.jpg")" />
                                    </li>
                                    <li>
                                        <img src="@Url.Content("/img/gallery/large/04.jpg")" />
                                    </li>
                                    <li>
                                        <img src="@Url.Content("/img/gallery/large/05.jpg")" />
                                    </li>
                                    <li>
                                        <img src="@Url.Content("/img/gallery/large/06.jpg")" />
                                    </li>
                                    <li>
                                        <img src="@Url.Content("/img/gallery/large/07.jpg")" />
                                    </li>
                                    <li>
                                        <img src="@Url.Content("/img/gallery/large/08.jpg")" />
                                    </li>
                                    <li>
                                        <img src="@Url.Content("/img/gallery/large/09.jpg")" />
                                    </li>
                                    <li>
                                        <img src="@Url.Content("/img/gallery/large/10.jpg")" />
                                    </li>
                                    <li>
                                        <img src="@Url.Content("/img/gallery/large/11.jpg")" />
                                    </li>
                                    <li>
                                        <img src="@Url.Content("/img/gallery/large/12.jpg")" />
                                    </li>
                                    <li>
                                        <img src="@Url.Content("/img/gallery/large/13.jpg")" />
                                    </li>
                                    <li>
                                        <img src="@Url.Content("/img/gallery/large/14.jpg")" />
                                    </li>
                                    <!-- items mirrored twice, total of 12 -->
                                </ul>
                            </div>
                            <div id="carousel" class="flexslider">
                                <ul class="slides">
                                    <li>
                                        <img src="@Url.Content("/img/gallery/large/01.jpg")" />
                                    </li>
                                    <li>
                                        <img src="@Url.Content("/img/gallery/large/02.jpg")" />
                                    </li>
                                    <li>
                                        <img src="@Url.Content("/img/gallery/large/03.jpg")" />
                                    </li>
                                    <li>
                                        <img src="@Url.Content("/img/gallery/large/04.jpg")" />
                                    </li>
                                    <li>
                                        <img src="@Url.Content("/img/gallery/large/05.jpg")" />
                                    </li>
                                    <li>
                                        <img src="@Url.Content("/img/gallery/large/06.jpg")" />
                                    </li>
                                    <li>
                                        <img src="@Url.Content("/img/gallery/large/07.jpg")" />
                                    </li>
                                    <li>
                                        <img src="@Url.Content("/img/gallery/large/08.jpg")" />
                                    </li>
                                    <li>
                                        <img src="@Url.Content("/img/gallery/large/09.jpg")" />
                                    </li>
                                    <li>
                                        <img src="@Url.Content("/img/gallery/large/10.jpg")" />
                                    </li>
                                    <li>
                                        <img src="@Url.Content("/img/gallery/large/11.jpg")" />
                                    </li>
                                    <li>
                                        <img src="@Url.Content("/img/gallery/large/12.jpg")" />
                                    </li>
                                    <li>
                                        <img src="@Url.Content("/img/gallery/large/13.jpg")" />
                                    </li>

                                    <!-- items mirrored twice, total of 12 -->
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="rightpane">
                    <h3>
                        Photo Gallery
                    </h3>
                    <div class="desktop-gallery">
                        <ul>
                            <li>
                                <img src="@Url.Content("/img/gallery/large/01.jpg")" alt="" />
                                <img src="@Url.Content("/img/gallery/large/02.jpg")" alt="" />
                            </li>
                            <li>
                                <img src="@Url.Content("/img/gallery/large/03.jpg")" alt="" />
                                <img src="@Url.Content("/img/gallery/large/04.jpg")" alt="" />
                            </li>
                            <li>
                                <img src="@Url.Content("/img/gallery/large/05.jpg")" alt="" />
                                <img src="@Url.Content("/img/gallery/large/06.jpg")" alt="" />
                            </li>
                            <li>
                                <img src="@Url.Content("/img/gallery/large/07.jpg")" alt="" />
                                <img src="@Url.Content("/img/gallery/large/08.jpg")" alt="" />
                            </li>
                            <li>
                                <img src="@Url.Content("/img/gallery/large/09.jpg")" alt="" />
                                <img src="@Url.Content("/img/gallery/large/10.jpg")" alt="" />
                            </li>
                            <li>
                                <img src="@Url.Content("/img/gallery/large/11.jpg")" alt="" />
                                <img src="@Url.Content("/img/gallery/large/12.jpg")" alt="" />
                            </li>
                            <li>
                                <img src="@Url.Content("/img/gallery/large/13.jpg")" alt="" />
                            </li>
                        </ul>
                    </div>
                    <div class="carousel-btns">
                        <input class="next" type="button" value="" />
                        <input class="prev" type="button" value="" />
                    </div>
                </div>
            </div>
            <div class="explore">
                <h3>
                    Explore other spectacular City Hubs of the Future
                </h3>
                <div class="explore-projects">
                    <div class="explore-block">
                        <a href="@Url.Action("centenary_city","Frontend")">
                            <div class="project-list-img">
                                <img src="@Url.Content("/img/inner/explore1.jpg")" alt="" />
                            </div>
                            <p>
                                nigeria
                            </p>
                            <h3>
                                Centenary City
                            </h3>
                        </a>
                    </div>
                    <div class="explore-block">
                        <a href="@Url.Action("marassi_al_bahrain","Frontend")">
                            <div class="project-list-img">
                                <img src="@Url.Content("/img/inner/explore3.jpg")" alt="" />
                            </div>
                            <p>
                                Bahrain
                            </p>
                            <h3>
                                Marassi Al Bahrain
                            </h3>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <!--Gallery-->
        @{ViewData["ActionName"] = "media-centre";}
        @*@Html.Partial("_Register")*@
        <script src="~/js/jquery.default.js"></script>

    </div>
    <!-- #main -->
</div>
<!-- #main-container -->
@*@section Stylings
    {
    <link rel="stylesheet" href="@Url.Content("~/css/projects.css")">
    }*@