@{
    ViewBag.Title = "Belgrade Waterfront";
    Layout = "~/Views/Shared/_Layout.cshtml";
       
}


<div class="main-container">
    <div class="project-details wrapper clearfix">
        <div class="banner">
            <img src="@Url.Content("/img/background/project-banner-6.jpg")" alt="" class="dekstop-banner" />
            <img src="@Url.Content("/img/background/project-banner-mobile-6.jpg")" alt="" class="mobile-banner" />
            <div class="logo">
                <a href="@Url.Action("Index","Frontend")">
                    <img src="@Url.Content("/img/generic/logo-white.png")" alt="" />
                </a>
            </div>
            <div class="project-logo maarsa">
                <a href="http://www.stregisammanresidences.com/">
                    <img src="@Url.Content("/img/generic/stregis-logo.png")" alt="" />
                </a>
            </div>
            <!--
            <div class="main-project-logo">
                <a href="@Url.Action("Al_Maabar","Frontend")">
                 <img src="@Url.Content("/img/generic/almaabar-logo.png")" alt="" class="dekstop-banner" />
                 <img src="@Url.Content("/img/generic/almaabar-logo-mobile.png")" alt="" class="mobile-banner" />
                </a>
            </div>
            -->
        </div>
        <div class="page-nav">
            <ul>
                <li>
                    <a href="#overview">
                        <span>overview
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#features">
                        <span>features
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#gallery">
                        <span>gallery
                        </span>
                    </a>
                </li>
            </ul>
        </div>
        <section id="overview">
            <div class="tab">
                <h4>overview
                </h4>
            </div>
            <div class="overview">
                <div class="singlepane">
                    <h3>The St. Regis Amman and The Residences at The St. Regis Amman 
                    </h3>
                    <img src="@Url.Content("/img/inner/overview-6.jpg")" alt="" />
                    
                    <div class="rightpane-copy">
                        <p>
         Combining classic sophistication with a modern sensibility, The St. Regis is launching its first development in Jordan – a hotel and branded luxury residential complex. The highly anticipated arrival of The St. Regis Amman and The Residences at The St. Regis Amman, promises to build upon the rich heritage of the brand, while elevating the standards of luxury hospitality in the Kingdom’s capital. 
        </p>
        <p>
         Introducing Jordan’s first private branded residences available for purchase and a world-class hospitality destination, the development promises to offer the latest in luxury to both residents and visitors. Strategically located in the affluent Abdoun neighborhood, the heart of Amman’s central business district and shopping area, The St. Regis Amman and The Residences at The St. Regis Amman represents a new pinnacle of refined urban living.
        </p>
                        <div class="buttons">
         <input type="button" value="register your interest" class="register-btn" onClick="location.href = '#register'" />
         <div class="project-btn">
          <a href="http://www.stregisammanresidences.com/" target="_blank">
           visit website
          </a>
         </div>
        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="features">
            <div class="tab">
                <h4>features
                </h4>
            </div>
            <div class="features">
                <div class="leftpane">
                    <h3>Exclusive Features
                    </h3>
                    <p>
                        The St. Regis Amman and The Residences at The St. Regis Amman invites modern connoisseurs to embrace a truly premier lifestyle experience, incorporating the brand’s iconic bespoke service at every turn.
                    </p>
                    <p>
                     The St. Regis Amman
                    </p>
                    <ul class="st-regis">                    
                        <li>
                         17-storey tower
                        </li>
                        <li>
                         260 luxuriously-appointed guest rooms and suites
                        </li>
                        <li>
                         4 restaurants and a café
                        </li>
                        <li>
                         World-class fitness centre, pool and signature spa
                        </li>
                        <li>
                         Ultra-modern space for meetings and events
                        </li>
                        <li>
                         Exclusive boutiques featuring some of the world’s most prominent brands
                        </li>
                    </ul>
                    
                    <p>
                     The Residences at The St. Regis Amman
                    </p>
                    <ul class="st-regis">
                        <li>
                         Two connected 17-storey landmark towers
                        </li>
                        <li>
                         79 private residences including duplexes and sky villas
                        </li>
                        <li>
                         Access to world-class amenities and recreational facilities including: pool, fitness centre, business centre, executive lounge and private theatre
                        </li>
                        <li>
                         Around the clock manned security
                        </li>
                        <li>
                          Concierge service and valet parking
                        </li>
                        <li>
                         Specialized tailor-made services upon request from dedicated hotel staff
                        </li>
                    </ul>
                </div>
                <div class="rightpane">
                    <img src="@Url.Content("/img/inner/features-6.jpg")" alt="" />
                </div>
            </div>
        </section>
        <section id="gallery">
            <div class="tab">
                <h4>gallery
                </h4>
            </div>
            <div class="gallery">
                <div class="leftpane">
                    <div class="gallery-frame">
                        <div class="dekstop-slider-view">
                            <div id="slider-1" class="flexslider">
                             <ul class="slides">
                             <li>
                              <div class="largerImage">
                                <img src="@Url.Content("/img/gallery/st-regis/01.jpg")" id="addimage" alt="" />
                              </div>
                             </li> 
                             <li>
                              <div class="largerImage">
                                <img src="@Url.Content("/img/gallery/st-regis/02.jpg")" id="addimage" alt="" />
                              </div>
                             </li>
                             <li>
                              <div class="largerImage">
                                <img src="@Url.Content("/img/gallery/st-regis/03.jpg")" id="addimage" alt="" />
                              </div>
                              
                             </li>
                                    <li>
                                     <div class="largerImage">
                                        <img src="@Url.Content("/img/gallery/st-regis/04.jpg")" />
                                     </div>   
                                    </li>
                                    <li>
                                     <div class="largerImage">
                                        <img src="@Url.Content("/img/gallery/st-regis/05.jpg")" />
                                     </div>
                                    </li>
                                    <li>
                                     <div class="largerImage">
                                        <img src="@Url.Content("/img/gallery/st-regis/06.jpg")" />
                                      </div>  
                                    </li>
                                    <li>
                                     <div class="largerImage">
                                        <img src="@Url.Content("/img/gallery/st-regis/07.jpg")" />
                                     </div>   
                                    </li>
                                    <li>
                                     <div class="largerImage">
                                        <img src="@Url.Content("/img/gallery/st-regis/08.jpg")" />
                                     </div>   
                                    </li>
                                    <li>
                                     <div class="largerImage">
                                        <img src="@Url.Content("/img/gallery/st-regis/09.jpg")" />
                                     </div>   
                                    </li>
                                    <li>
                                     <div class="largerImage">
                                        <img src="@Url.Content("/img/gallery/st-regis/10.jpg")" />
                                     </div>   
                                    </li>
                                    <li>
                                     <div class="largerImage">
                                        <img src="@Url.Content("/img/gallery/st-regis/11.jpg")" />
                                     </div>   
                                    </li>
                                    <li>
                                     <div class="largerImage">
                                        <img src="@Url.Content("/img/gallery/st-regis/12.jpg")" />
                                     </div>   
                                    </li>
                                    <li>
                                     <div class="largerImage"> 
                                        <img src="@Url.Content("/img/gallery/st-regis/13.jpg")" />
                                     </div>   
                                    </li>
                                    <li>
                                     <div class="largerImage"> 
                                        <img src="@Url.Content("/img/gallery/st-regis/14.jpg")" />
                                     </div>   
                                    </li>
                                    <li>
                                     <div class="largerImage"> 
                                        <img src="@Url.Content("/img/gallery/st-regis/15.jpg")" />
                                     </div>   
                                    </li>
                            </ul>                            
                            </div>
                            <img src="@Url.Content("/img/generic/gallery-frame.png")" class="frame" alt="" />
                        </div>
                        <div class="mobile-slider-view">
                            <!-- Place somewhere in the <body> of your page -->
                            <div id="slider" class="flexslider">
                                <ul class="slides">
                                 <li >
                                        <img src="@Url.Content("/img/gallery/st-regis/01.jpg")" />
                                    </li>
                                    <li >
                                        <img src="@Url.Content("/img/gallery/st-regis/02.jpg")" />
                                    </li>
                                    <li>
                                        <img src="@Url.Content("/img/gallery/st-regis/03.jpg")" />
                                    </li>
                                    <li >
                                        <img src="@Url.Content("/img/gallery/st-regis/04.jpg")" />
                                    </li>
                                    <li>
                                        <img src="@Url.Content("/img/gallery/st-regis/05.jpg")" />
                                    </li>
                                    <li>
                                        <img src="@Url.Content("/img/gallery/st-regis/06.jpg")" />
                                    </li>
                                    <li>
                                        <img src="@Url.Content("/img/gallery/st-regis/07.jpg")" />
                                    </li>
                                    <li>
                                        <img src="@Url.Content("/img/gallery/st-regis/08.jpg")" />
                                    </li>
                                    <li>
                                        <img src="@Url.Content("/img/gallery/st-regis/09.jpg")" />
                                    </li>
                                    <li>
                                        <img src="@Url.Content("/img/gallery/st-regis/10.jpg")" />
                                    </li>
                                    <li>
                                        <img src="@Url.Content("/img/gallery/st-regis/11.jpg")" />
                                    </li>
                                    <li>
                                        <img src="@Url.Content("/img/gallery/st-regis/12.jpg")" />
                                    </li>
                                    <li>
                                        <img src="@Url.Content("/img/gallery/st-regis/13.jpg")" />
                                    </li>
                                    <li>
                                        <img src="@Url.Content("/img/gallery/st-regis/14.jpg")" />
                                    </li>
                                    <li>
                                        <img src="@Url.Content("/img/gallery/st-regis/15.jpg")" />
                                    </li>
                                    <!-- items mirrored twice, total of 12 -->
                                </ul>
                            </div>
                            <div id="carousel" class="flexslider">
                                <ul class="slides">
                                 <li>
                                        <img src="@Url.Content("/img/gallery/st-regis/01.jpg")" />
                                    </li>
                                    <li>
                                        <img src="@Url.Content("/img/gallery/st-regis/02.jpg")" />
                                    </li>
                                    <li>
                                        <img src="@Url.Content("/img/gallery/st-regis/03.jpg")" />
                                    </li>
                                    <li>
                                        <img src="@Url.Content("/img/gallery/st-regis/04.jpg")" />
                                    </li>
                                    <li>
                                     <img src="@Url.Content("/img/gallery/st-regis/05.jpg")" />
                                    </li>
                                    <li>
                                     <img src="@Url.Content("/img/gallery/st-regis/06.jpg")" />
                                    </li>
                                    <li>
                                     <img src="@Url.Content("/img/gallery/st-regis/07.jpg")" />
                                    </li>
                                    <li>
                                     <img src="@Url.Content("/img/gallery/st-regis/08.jpg")" />
                                    </li>
                                    <li>
                                     <img src="@Url.Content("/img/gallery/st-regis/09.jpg")" />
                                    </li>
                                    <li>
                                     <img src="@Url.Content("/img/gallery/st-regis/10.jpg")" />
                                    </li>
                                    <li>
                                     <img src="@Url.Content("/img/gallery/st-regis/11.jpg")" />
                                    </li>
                                    <li>
                                     <img src="@Url.Content("/img/gallery/st-regis/12.jpg")" />
                                    </li>
                                    <li>
                                     <img src="@Url.Content("/img/gallery/st-regis/13.jpg")" />
                                    </li>
                                    <li>
                                     <img src="@Url.Content("/img/gallery/st-regis/14.jpg")" />
                                    </li>
                                    <li>
                                     <img src="@Url.Content("/img/gallery/st-regis/15.jpg")" />
                                    </li>
                                    <!-- items mirrored twice, total of 12 -->
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="rightpane">
                    <h3>Photo Gallery
                    </h3>
                    <div class="desktop-gallery">
                        <ul>
                            <li>
                                <img src="@Url.Content("/img/gallery/st-regis/01.jpg")" id="0" alt="" />
                                <img src="@Url.Content("/img/gallery/st-regis/02.jpg")" id="1" alt="" />
                            </li>
                            <li>
                                <img src="@Url.Content("/img/gallery/st-regis/03.jpg")" id="2" alt="" />
                                <img src="@Url.Content("/img/gallery/st-regis/04.jpg")" id="3" alt="" />
                            </li>
                            <li>
                                <img src="@Url.Content("/img/gallery/st-regis/05.jpg")" id="4" alt="" />
                                <img src="@Url.Content("/img/gallery/st-regis/06.jpg")" id="5" alt="" />
                            </li>
                            <li>
                                <img src="@Url.Content("/img/gallery/st-regis/07.jpg")" id="6" alt="" />
                                <img src="@Url.Content("/img/gallery/st-regis/08.jpg")" id="7" alt="" />
                            </li>
                            <li>
                                <img src="@Url.Content("/img/gallery/st-regis/09.jpg")" id="8" alt="" />
                                <img src="@Url.Content("/img/gallery/st-regis/10.jpg")" id="9" alt="" />
                            </li>
                            <li>
                                <img src="@Url.Content("/img/gallery/st-regis/11.jpg")" id="10" alt="" />
                                <img src="@Url.Content("/img/gallery/st-regis/12.jpg")" id="11" alt="" />
                            </li>
                            <li>
                                <img src="@Url.Content("/img/gallery/st-regis/13.jpg")" id="12" alt="" />
                                <img src="@Url.Content("/img/gallery/st-regis/14.jpg")" id="13" alt="" />
                            </li>
                            <li>
                                <img src="@Url.Content("/img/gallery/st-regis/15.jpg")" id="14" alt="" />                                
                            </li>
                        </ul>
                    </div>
                    <div class="carousel-btns">
                        <input class="next" type="button" value="" />
                        <input class="prev" type="button" value="" />
                    </div>
                </div>
            </div>
            <div class="explore">
                <h3>Explore other spectacular City Hubs of the Future
                </h3>
                <div class="explore-projects">
                    <div class="explore-block">
                         <a href="@Url.Action("La_Marina_Morocco","Frontend")">
                          <div class="project-list-img">
                           <img src="@Url.Content("/img/inner/explore4.jpg")" alt="" />
                          </div>
                          <p>
                           Morocco
                          </p>
                          <h3>
                           La Marina
                          </h3>
                         </a>
                    </div>
                    <div class="explore-block">
                     <a href="@Url.Action("marsa_zayed","Frontend")">
                      <div class="project-list-img">
                       <img src="@Url.Content("/img/inner/explore5.jpg")" alt="" />
                      </div>
                      <p>
                       Jordan
                      </p>
                      <h3>
                       Marsa Zayed
                      </h3>
                     </a>
       </div>
                    <!--<div class="explore-block">
        <a href="project-details.html">
         <div class="project-list-img">
          <img src="img/inner/explore2.jpg" alt="" />
         </div>
         <p>
          abu dhabi
         </p>
         <h3>
          Abu Dhabi City
         </h3>
        </a>
       </div>-->
                </div>
            </div>
        </section>
        @{ViewData["ActionName"] = "belgrade_waterfront";}
        @Html.Partial("_Register")
         <script src="~/js/jquery.default.js"></script>


    </div>
    <!-- #main -->
</div>
<!-- #main-container -->

@section scripts{

    <!-- sidr js -->
  @*  <script src="@Url.Content("~/js/plugins/jquery.easing.1.3.js")"></script>
    <script src="@Url.Content("~/js/jcarousellite_1.0.1.js")"></script>
    <script src="@Url.Content("~/js/jquery.flexslider.js")"></script>*@
}

@*@section Stylings 
    {
    <link rel="stylesheet" href="@Url.Content("~/css/projects.css")">
    }*@