@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using EmaarEagleHills.Shared
@using Newtonsoft.Json;

@{
  
  string cultureParameter = string.Empty;

  string currentCulture = Helper.CurrentLanguage;

  if (currentCulture == "ar")
    {
        cultureParameter = "?lang=ar";
      
    }

}


<section id="banner">
            <div class="banner">
               <ul class="galleryH">


@{

 var lnkId =Helper.GetCultureBasedProperty("isSliderRequired", CurrentPage.Id);  

 if (!String.IsNullOrEmpty(lnkId))
          {


  IEnumerable<IPublishedContent> IPublishedSlider =Settings.GetCurrentPageChildContentById(Convert.ToInt32(lnkId));

 foreach (IPublishedContent item in IPublishedSlider)
           {  

<li>
      @{

   var links = Helper.GetCultureBasedProperty("logoHyperLink", item.Id);
   var readMoreHyperLink=Helper.GetCultureBasedProperty("readMoreHyperLink", item.Id);

   Dictionary<string, string>[] relatedLink = JsonConvert.DeserializeObject<Dictionary<string, string>[]>(links);
   Dictionary<string, string>[] readMoreHyper = JsonConvert.DeserializeObject<Dictionary<string, string>[]>(readMoreHyperLink);

   int j;
   int k;
  var  link = int.TryParse(relatedLink[0]["link"], out j) ? Umbraco.NiceUrl(Convert.ToInt32(relatedLink[0]["link"])) : relatedLink[0]["link"];
  var  linkreadMoreHyperLink = int.TryParse(readMoreHyper[0]["link"], out k) ? Umbraco.NiceUrl(Convert.ToInt32(readMoreHyper[0]["link"])) : readMoreHyper[0]["link"];

			
				<img class="banner-img" src="@Helper.GetCultureBasedImagePath("desktopBannerImage",item.Id)" alt="" />
                <img class="m-banner-img" src="@Helper.GetCultureBasedImagePath("mobileBannerImage",item.Id)" alt="" />

              <!-- <div class="logo">
                    <a href="@link">
                        <img src="@Helper.GetCultureBasedImagePath("logoImage",item.Id)" alt="" />
                    </a>
                </div> -->

<div class="logo">
                    <a href="@link">
                        <img src="@Url.Content("~/img/generic/logo.png")" alt="" />
                    </a>
 </div>


                <aside>
                    <div class="leftpane">
                        <h1>
                           @Html.Raw(@Helper.GetCultureBasedProperty("headingContent", item.Id)) 
                        </h1>
                        <p>
                        @Html.Raw(@Helper.GetCultureBasedProperty("content", item.Id))                      
                        </p>
                        <a href="@linkreadMoreHyperLink" target="_blank" class="read-more">@Html.Raw(@Helper.GetCultureBasedProperty("readMoreContent", item.Id))   </a>
                    </div>

                </aside>
				



} 


</li>

}

}
}
</ul>
				
				
            </div>
        </section>

